.Card {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius:11px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.Card img {
    position: absolute;
    top: 0;
    height: 110%;
    width: 110%;
    z-index: -1;
}

.Card h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-items: center;
    opacity: 0
;
}