.Header {
    position: fixed;
    width: 100%;
    padding: 6px 11px;
    z-index: 101;
}

.SiteName {
    position: fixed;
    align-items: center;
    cursor: pointer;
}

.Tabs {
    position: fixed;
    margin: 0 36%;
    display: grid;
    align-items: center;
    justify-items: left;
}

.About {
    position: fixed;
    font-size: 16px;
    position: fixed;
    margin: 0px 66px 0px 60%;
}

.About p{
    margin-block-start: 0px;
}

@media (max-width: 680px) {
    .Header {
        font-size: 18px;
    }
    .About {
        font-size: 14px;
    }
}