.Header {
    position:fixed;
    z-index: 3000;
}

.SiteName {
    font-size: 26px;
    margin: 16px;
    position: fixed;
    cursor: pointer;
}

.Tabs {
    font-size: 26px;
    position: fixed;
    margin: 16px 0px 0px 36%;
    display: grid;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.About {
    position: fixed;
    right: 16px;
    margin: 0px 16px 0px 66%;
    max-width: 400px;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 600px) {
    .Tabs {
        align-items: right;
        margin: 16px 16px 0px 76%;
        justify-content: right;
    }
    .About {
        top: 250px;
        right: 10%;
        left: 10%;
        margin: auto;
        max-width: 350px;
        text-align: center;
        /* display: none; */
    }
}